body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
h1 {

    color: #f4f4f4;


}
.container {
    width: 50%;
    margin: 0 auto;
    background-color: #424242;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header, .footer {
    
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.nav {
    margin: 20px 0;
    text-align: center;
}
.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #bbbaba;
}
.content {
    margin: 20px 0;
    color: #cccccc;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group textarea {
    resize: vertical;
}

#enviar {
    background-color: #424242;
    width: 100px;
    height: 100px; /* Corrigido de 100x para 100px */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
   
}